@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import "tailwindcss";


* {
  font-family: "Outfit", sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f3f4f6;
  /* bg-gray-100 equivalent for admin body */
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.monoton {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-style: normal;
}

/* Global styling for input and form elements */
select,
input,
textarea {
  border: 1px solid #c5c5c5;
  outline-color: #383838;
  border-radius: 4px;
}

/* Styling for the active state of sidebar navigation links */
a.active {
  background-color: #e6e6e6;
  border-color: #202020;
}