@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
}


.libre-bodoni {
  font-family: "Libre Bodoni", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.zalando-sans {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.monoton {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-style: normal;
}

.menuBtn.active {
  background-color: black;
  color: white;
}

.input-field {
  @apply w-full border border-gray-300 px-4 py-2 text-sm outline-none focus:border-black;
}